*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#container{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#calculatorBox{
  background-color: grey;
  width: 400px;
  height: 500px;
}

#calculatorScreen{
  background-color: whitesmoke;
  width: 380px;
  height: 100px;
  margin: 10px auto;
  border: none;
  outline: none;
  display: block;
  text-align: right;
  font-size: 70px;
  padding: 0 10px;
}

#calculatorGrid{
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  padding: 10px;
}

.box{
  background-color: yellow;
  height: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.box:hover{
  opacity: 0.7;
}

.row{
  display: flex;
  justify-content: space-between;
}

.row-of-four .box{
  width: calc((400px - 50px) / 4);
}

.first .box{
  background-color: rgb(234, 146, 234);
}

.second .box{
  background-color: rgb(96, 217, 96);
}

.number.box{
  background-color: rgb(146, 146, 255);
}

.operator.box{
  background-color: rgb(157, 151, 151);
}

.equal.box{
  background-color: rgb(221, 57, 57);
}

.row-of-five .box{
  width: calc((400px - 50px) / 5);
}